*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: 'Rubik', sans-serif;
  direction: rtl;
  background-color: #f2e4cc;
  min-height: 100vh;
  color: #2c1a00;
  -webkit-font-smoothing: antialiased;
}
